* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
main {
	min-height: 100vh;
	background: linear-gradient(to right top, #6cdbeb, #007fff);
	display: flex;
	align-items: center;
	justify-content: center;
}

.glass_display {
	min-height: 85vh;
	width: 75%;
	border-radius: 2rem;
	background: linear-gradient(
		to right bottom,
		rgba(235, 235, 235, 0.7),
		rgba(235, 235, 235, 0.3)
	);
	z-index: 1;
	backdrop-filter: blur(2rem);
	display: flex;
}

.circle {
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.9),
		rgba(255, 255, 255, 0.1)
	);
	height: 16rem;
	width: 17rem;
	position: absolute;
	z-index: 0;
	border-radius: 50%;
}

.top_right {
	top: -12%;
	right: -7%;
}
.bottom_left {
	bottom: -12%;
	left: -7%;
}

.nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.2)
	);
	border-radius: 2rem;
	padding: 1rem;
}

.primary {
	flex: 3;
}

.profile {
	flex: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.nav_links {
	flex: 7;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.avatar {
	height: 100px;
	border-radius: 50%;
	border: 1px black solid;
	margin-bottom: 1rem;
}

.title {
	font-size: 32px;
	margin-bottom: 0.3rem;
}

.link {
	display: flex;
	margin: 2rem 0rem;
	padding: 1rem 4rem;
	align-items: center;
	width: 100%;
}

.link:hover {
	background: lightblue;
	cursor: default;
}

.link h2 {
	padding: 0rem 2rem;
	font-size: 26px;
	color: black;
}

.icon {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right top, #6cdbeb, #007fff);
	height: 60px;
	width: 60px;
	color: black;
	border-radius: 50%;
	font-size: 36px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 80%;
	border-radius: 2rem;
	padding: 2rem;
	background: linear-gradient(
		to top left,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.5)
	);
	margin: 3rem;
}
.small_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 60%;
	border-radius: 2rem;
	padding: 2rem;
	background: linear-gradient(
		to top left,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.5)
	);
	margin: 3rem;
}
.tall_container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 90%;
	border-radius: 2rem;
	padding: 2rem;
	background: linear-gradient(
		to top left,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.5)
	);
	margin: 1rem;
}

.primary {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list {
	list-style: none;
}

.list li {
	margin: 5px;
}

.media_link {
	font-size: 28px;
	color: black;
	width: 100%;
	padding: 2rem;
}

.media_link:hover {
	background-color: lightblue;
}

.projects {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* width: 50%; */
}

.project {
	width: 100%;
	height: 90%;
	opacity: 0;
	transition: all 0.3s linear;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}

.project-container {
	margin: 2rem;
	padding: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

.project-active {
	opacity: 1;
	transform: translateX(0);
}

.project-last {
	transform: translateX(-100%);
}

.project-next {
	transform: translateX(100%);
}

.medium_image {
	height: 300px;
}

.project-button {
	background: transparent;
	border: none;
	position: relative;
}

.project-button-right {
	left: 40%;
	bottom: 5%;
}
.project-button-left {
	right: 40%;
	bottom: 5%;
}

.project-button:active {
	text-decoration: none;
	border: none;
}
